@import 'node_modules/bootstrap/scss/bootstrap.scss';
$theme-colors: ( "primary": #2c3e50, "secondary": #1d6042, "success": #198754, "info": #0dcaf0, "warning": #ffc107, "danger": #dc3545, "light": #f8f9fa, "dark": #343a40);
$backgroundOne: #131c21;
$backgroundTwo: #262d31;
$backgroundThree: #090e11;
$backgroundGrayLight: #33383b;
$fontColorChat: #d8dee2;
$fontColorChatFond: #85898c;
$cardRight: #056162;
$historyChat: #0d1418;
$borderRaiusGeneric: 5px;